body {
    background-color: #7EAB70;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    color: #0d0d0d;
    min-width: 440px;
    margin-top: 140px;
    margin-bottom: 20px;
}

#pokedex-title {
    width: 400px;
}

.fixed-top{
    background-color: #fff;
    border-bottom: solid #0d0d0d 4px;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#pokemon-list {
    list-style-type: none;
    padding: 0;
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.pokemon {
    background-color: #fff;
    color: #0d0d0d;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 250px;
    height: 70px;
    border: solid 2px;
    transition: 0.2s background-color;
    box-shadow: 10px 10px;
}

.pokemon:hover, .pokemon:focus {
    background-color: #6eff6e;
    cursor: pointer;
}

.modal-dialog {
    background: #fff;
    padding: 15px;
    width: 400px;
    max-height: fit-content;
    text-align: left;
    border: solid 4px;
    border-radius: 10%;
    position: relative;
    top: 30%;
}

.modal-content {
    border: none;
}

.modal-header {
    border: none;
}


.close {
    float: right;
    color: #0d0d0d;
    transition: 0.2s background-color;
}

.close:hover, .modal-close:focus {
    background-color: #ff0000;
    cursor: pointer;
}

.modal h1 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 30px;
    text-align: left;
}

.modal img {
    margin-top: 24px;
    float: right;
    margin-right: 20px;
} 

.pokemon-types {
    margin-left: 20px;
    list-style: none;
    font-size: 24px;
    text-transform: capitalize;
    text-align: left;
 
}

.pokemon-height {
    margin-left: 20px;
    text-align: left;
    font-size: 24px;
}